

h1, h2, p {
  font-family: Arial, Helvetica, sans-serif;
}

li {
  font-family: Arial, Helvetica, sans-serif;
}


h1 {
  font-size: 40px;
  text-align: center;
  padding: 30px;
}

h2 {
  font-size: 30px;
  text-align: center;
  padding: 20px;
}

p {
  font-size: medium;
  padding: 10px;
  width: 70%;
  margin: auto;
}

.bodyCopy {
  margin-top: 20px;
}

body {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.resultsBar {
  width: 80%;
  margin: auto;
 
}

#chart {
  display: none;
}

#myChart {
  width: 100%;
  margin: auto;
  padding-top: 15px;
}

li {
  padding: 3px;
}

#image-container {
  width: 80%;
  margin: auto;
  height: 25%;
}

#image-container > img {
  width: 29%;
  vertical-align: middle;
  margin: auto;
}

#pic1 {
  margin: auto;
  padding: 2px;
}

#pic2 {
  margin: auto;
  width: 30%;
  padding: 2px;
}

#pic3 {
  margin: auto;
  padding: 2px;
}

#resetVotes {
  text-align: center;
  font-size: large;
  color: maroon;
}

