body {
  width: 80%
}

.resultsBar {
  outline: 1px solid red;
  width: 30%;
  float: left;
  height: 350px;
}


#image-container {
  outline: 1px solid blue;
  width: 70%;
  height: 350px;
  float: right;
}

#image-container > img {
  width: 28%;
  vertical-align: center;
}

